    @media screen and (max-width: 767px) {
        .nav {
            display: block !important;
        }
        #nav-bar li {
            display: block;
        }
        #nav-bar li a {
            border: none !important;
        }
        .about-row {
            display: block;
        }
        .row {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
        }
        .grid-cer {
            display: block;
        }
        .row-grid {
            display: grid;
            grid-template-columns: 1fr;
            gap: 15px;
        }
        .cer-content {
            display: block;
        }
        .img-cc {
            width: 100%;
        }
    }
    
    .hidden {
        display: none;
    }